.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  background: var(--brand-primary);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.icon-home {
  mask-image: url('./icons/home.svg');
  -webkit-mask-image: url('./icons/home.svg');
}
.icon-like {
  mask-image: url('./icons/like.svg');
  -webkit-mask-image: url('./icons/like.svg');
}
.icon-reply {
  mask-image: url('./icons/reply.svg');
  -webkit-mask-image: url('./icons/reply.svg');
}
